@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import "variables";
@import "icons";

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
}

.sidebar {
  position: fixed;
  
  width: 16rem;
  height: 100vh;
  padding: 1rem 2rem;

  background-color: $color-bg-primary;  
  
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-align: center;

  &__logo {
    background-image: url('/img/vibecast-logo.svg');
    background-size: contain;
    width: 12rem;
    height: 12rem;
  }
  &__intro {
    color:white;
    line-height: 1.2em;
      
      strong{
        color: $color-text-sidebar;

      }
  }
  nav a{
    text-decoration: none;
    color: $color-text-sidebar;
    padding-bottom: 3em;
    line-height: 1.5em;
  }

  &__tweet {
    color: $color-text-sidebar;
    padding-top: 2em;
    padding-bottom: 1em;
  }

  &__button {
    margin-top:0;
    color:white;
    background-color: $color-btn-primary;
    border:none;
    padding: 1em;
    border-radius: 4%;

        a {
          color: white;
          text-decoration: none;
        }
  }
}

nav {
  margin-bottom: 3em;
  
}


.podcast {
  margin-left: 16rem;
}

.podcast-heading {
  display: flex;
  align-items: center;
  
  height: 5rem;
  padding: 1rem 2.5rem;
  margin-bottom: 3em;
  
  background-color: $color-bg-secondary;

  &__logo {
    img {
    width: 3rem;
    height:3rem;    
  }

    margin-right: 1rem;
  }

  &__title {
    padding-bottom: 0.5rem;
    
    font-size: 2rem;
    line-height: 2rem;
    text-transform: uppercase;
  }
}


.podcast-list {
  display:flex;
  flex-direction: column; 
  padding-left:3em;
  margin-bottom:0;
  margin-top:0;

      &__time {
        color: $color-text-tertiary;
        padding-bottom: 1em;

          a {
            color: black;
            text-decoration: none;
            color: $color-text-tertiary;
            padding-left: .4em;

          }
      }
}

.podcast-main {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: 2px solid $color-text-tertiary; 
  padding-top: .5em;
  padding-bottom:0;


    &__img {
      width: 4rem;
      height: 4rem;

    }

    &__number{
      color: $color-text-secondary;
      font-size:3.5em;
      padding-left:.3em;
      font-weight: bold;


    }

    &__name {
      font-size: 2rem;
      line-height: 2rem;
      text-transform: uppercase;
      font-weight: lighter;
      padding-left:.3em;
    }
}



